@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

body {
  font-family: 'Delicious Handrawn', cursive;
  font-weight: bold;
  background-color: white;
}

h1 {
  font-family: 'Delicious Handrawn', cursive;
  font-weight: bold;
  color: blue;
  margin-left: 1rem;
  margin: 2rem;
}
.Title {
  font-size: 3em;
  color: blue;
  font-family: 'Delicious Handrawn', cursive;
  font-weight: bold;
  margin: 2rem;
}

.Intro {
  background-color: aliceblue;
  color: black;
  display: left;
  margin-left: 1rem;
  margin: 2rem;

  width: 50%;
  padding: 3rem;
  box-shadow: 5px 5px 5px 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 1em;
  justify-content: center;
  font-size: 1rem;
  margin: 2rem;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.project {
  display: flex;
  justify-content: center;
  margin-left: 5rem;
  text-decoration: underline;
  color: white;
}

.project a {
  margin: 0 15px;
}

.contact {
  display: flex;
  justify-content: center;
  margin-left: 5rem;
  text-decoration: underline;
  color: white;
}

li a:hover {
  background-color: rgb(165, 160, 245);
}

.nav-links {
  display: flex;
  justify-content: center;
  background-color: blue;
  color: white;
  padding: 5px 5px 5px 5px;
}

.nav-links a {
  margin: 0 50px;
  color: white;

  font-family: 'Delicious Handrawn', cursive;
  font-weight: bold;
}

.schedule {
  display: flex;
  list-style-type: none;
  padding: 1em;
  justify-content: center;
  font-size: 1.25rem;
  text-align: left;
  margin-left: 5rem;
}

.parallax-image {
  position: absolute;
  top: 200px; /* Initial position */
  left: 50%;
  right: 0;
  transform: translateX(80%);
  width: 300px;
  height: 300px;
}

.highlight {
  background-color: blue; /* Set the desired background color */
  padding: 1rem;
  box-shadow: 5px 5px 5px 5px;
  border-radius: 50%;
}

.thumbnails{

}